<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<div style="text-align:center">
  <h1>
    CSV Visualizer
  </h1>
</div>
<div class="file-chooser">
  <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" (change)="fileChangeListener($event)"
    accept=".csv" />
</div>

<div class="csv-data">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let header of headers;">{{header}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let csvData of csvRecords">
        <td>
          <span>{{csvData.firstName}}</span>
        </td>
        <td>
          <span>{{csvData.lastName}}</span>
        </td>
        <td>
          <span>{{csvData.issueCount}}</span>
        </td>
        <td>
          <span>{{csvData.dateOfBirth}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>